.cartitems{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  height:100vh;

}
.cartitems .cartitem{
    display:flex;
    justify-content:space-between;
    align-items:center;
   gap:30px;
    margin-bottom:5px;

}
.cartitems .cartitem div{
    margin:0px;
}
.cartitems .cartitem div button{
    background-color:green;
    color:white;
    width:30px;
    height:30px;
    padding:7px;
    margin:10px;
    border:none;
     border-radius:50%;
}
.empty{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.totalprice{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}
.totalprice div{
    margin:20px;
}
.emptycart button{
    background-color:green;
    color:white;
    width:150px;
    padding:7px;
    margin:7px;
    border:none;
   
}