body{
    padding:0;
    margin:0;
}

.App {
  margin:0;
}
.tops{
    background-color: green;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:6px;
    color:white;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    display:none;
    margin-top:250px;
}
.tops ul{
    display: flex;
    text-align: center;
    margin-left:0px;
    gap:20px;
    align-items:center;
    justify-content:space-around;
}
.tops ul li{
    text-decoration: none;
    list-style: none;
   
    display:inline-block;
}
.sticky{
    position:sticky;
    top:0;
    left:0;
    box-shadow: 8px 6px 40px -25px rgba(0,0,0,0.7);
    margin-bottom:30px;
    z-index:1111;
}
@media(max-width:768px){
    .tops{
        display:block;
    }
}