body {
  margin: 0;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  text-transform: capitalize;
  
}
:root{
  --green:#27ae60;
  --dark:#219150;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
